.imageslider {
	height: 400px;
	background: url(http://devicelab.fi/img/office-mdm.jpg)	no-repeat;
	background-size: 100%;

}

body .main {
	min-height: 600px;
}

.divbar {
	background-color: #212121;
	height: 12px;
	width: 100%;
}

.footer {
	background-color: #3e3e3e;
	height: 300px;
}


.title {
	background: #252525;
	background: rgba(37,37,37, 0.80);
	margin: 0 auto;
	width: 700px;
	height: 70px;
	margin-top: 300px;

}

.title h1 {
	text-align: center;
	//margin-top: 220px;
	color: #e8b256;
	font-size: 60px;
	line-height: 70px;
}

h3
{
    color:rgb(60, 60, 60)
}

.navbar .brand {
	font-weight: bold;
	font-size: 30px;
}

.navbar .nav > li > a {
	font-size: 20px;
	font-weight: bold ;
	padding-top: 25px;
	padding-bottom: 15px;
}

.navbar .location {
	width: 100%;
	height: 10px;
	background-color: #ffa200;
}


.navbar .nav > .activee > a {
	padding-top: 15px !important;
}

hr {
	border-top: 1px solid #A6A6A6;
	border-bottom: 1px solid #D1D1D1;
	/*background-color: #212121*/
}

p {
	text-align: justify;
	font-size: 16px;
}

.post {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: double 1px #878787;
}

.post a {
	color: #666
}

.post a:hover {
	text-decoration: underline;
}

.post .date p{
	color: #878787;
	font-weight: bold;
	font-size: 22px;
}
.post p {
	font-size: 20px;
}

.control-group {
	margin-bottom: 5px;
}

.control-group input {
	height: 32px;

}	

.footer {
	color: #eaeaea;
	font-size: 16px;
}
.footer .follow a {
	font-size: 70px;
}
.footer .follow a:hover {
	color: #ffa200;
	text-decoration: none;
}

.footer .row {
	margin-top: 15px;
}

#location {
	padding-left: 20px;
}